flows.json
[{"id":"9e93457c.b75ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1f5c5f24.a46331","type":"ui_form","z":"9e93457c.b75ac8","name":"","label":"","group":"baa33da1.3f805","order":0,"width":0,"height":0,"options":[{"label":"Slope","value":"sl","type":"number","required":true,"rows":null},{"label":"Forest Density","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density","value":"sd","type":"number","required":true,"rows":null},{"label":"Air Temperature","value":"at","type":"number","required":true,"rows":null},{"label":"Wind","value":"wi","type":"number","required":true,"rows":null}],"formValue":{"sl":"","fd":"","sd":"","at":"","wi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":340,"wires":[["d9c683ea.5fa32"]]},{"id":"d9c683ea.5fa32","type":"function","z":"9e93457c.b75ac8","name":"Pre Token","func":"global.set(\"sl\",msg.payload.sl)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"wi\",msg.payload.wi)\nvar apikey=\"ScY_FA9TAhg2QXZAV-f0aEZH0UpAB0PiPUsIXOHNd3mP\";\nmsg.headers={\"Content-Type\": \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["65c8ef96.9da73"]]},{"id":"65c8ef96.9da73","type":"http request","z":"9e93457c.b75ac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":320,"wires":[["d7dac2b7.2db77"]]},{"id":"d7dac2b7.2db77","type":"function","z":"9e93457c.b75ac8","name":"Pre Prediction","func":"var sl =global.get('sl')\nvar fd =global.get('fd')\nvar sd =global.get('sd')\nvar at =global.get('at')\nvar wi =global.get('wi')\nvar token=msg.payload.access_token\nvar instance_id=\"01155bd6-c1c3-4e05-8739-8fcbcab419e9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Slope\", \"Forest Density\", \"Snow Density\", \"Air Temperature\", \"Wind\"],\"values\":[[sl,fd,sd,at,wi]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":260,"wires":[["3cb585b.450bb7a"]]},{"id":"3cb585b.450bb7a","type":"http request","z":"9e93457c.b75ac8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/86bd21bb-9454-48fa-a387-7a667b475eb1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":200,"wires":[["c10a62e.5b278a","f6ddf93d.2a6738"]]},{"id":"c10a62e.5b278a","type":"function","z":"9e93457c.b75ac8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":100,"wires":[["d05899a2.55feb8"]]},{"id":"f6ddf93d.2a6738","type":"debug","z":"9e93457c.b75ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"d05899a2.55feb8","type":"ui_text","z":"9e93457c.b75ac8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":420,"wires":[]},{"id":"baa33da1.3f805","type":"ui_group","z":"","name":"Avalaenche","tab":"a12325fc.401c38","order":1,"disp":true,"width":"6","collapse":false},{"id":"a12325fc.401c38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]